{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block body %}

    <h1 id="about_us_heading"> About US...</h1>

    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/1.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/2.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/3.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/4.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/5.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/6.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/7.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/8.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/9.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/10.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/11.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/12.jpg">
        </div>
        <div class="mySlides fade">
            <img class="img_slides" src="../static/shop/images/shop_pics/13.jpg">
        </div>

    </div>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>

    </div>



 <p id="about_us_para">
    At KRISHNA ELECTRONICS, you will be able to find a wide selection of electronics from top brands. You can buy LCD, refrigerator, washing machine, AC, invertor& batteries, induction, stove, electric geysers, deep freezers, juicer mixer grinders, etc. We provide brands like LG, Samsung, Godrej, Whirlpool, Haier, Hindware, Symphony , Hitachi, OnePlus IFB, Havells, Crompton, Usha, Luminous, Microtech, Lloyd,Wibor, Aisen, Sunflame, etc.
 </p>









{% endblock %}



