{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block body %}

    <h1 id="about_us_heading"> About US...</h1>

    <!-- Slideshow container -->
    


 <p id="about_us_para">
    At KRISHNA ELECTRONICS, you will be able to find a wide selection of electronics from top brands. You can buy LCD, refrigerator, washing machine, AC, invertor& batteries, induction, stove, electric geysers, deep freezers, juicer mixer grinders, etc. We provide brands like LG, Samsung, Godrej, Whirlpool, Haier, Hindware, Symphony , Hitachi, OnePlus IFB, Havells, Crompton, Usha, Luminous, Microtech, Lloyd,Wibor, Aisen, Sunflame, etc.
 </p>









{% endblock %}



