{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Krishna Electronics {{product_cat}} {% endblock %}
{% block body %}

<!--product_cat-->
<!--temp-->

<br><br><br><br><br><br><br><br><br><br>

<p class="viewall_page_product_category">
    <a href="javascript:history.go(-1);"  id="viewall_page_back"> Home </a> &nbsp;
    &#10095; &nbsp; {{temp}}
</p>

    <div class="main_page_banners">
        <img src="../static/shop/images/home_page_banners/18.jpg">
    </div>


<div class="viewall_page_boxes" >

{% for i in product_cat %}
    <a href="/products/{{i.product_id}}" style=" text-decoration:none; color: rgb(32, 31, 31);">-->
        <div class="container" >
            <div class = "container_image">
                <img src="/media/{{i.display_image}}" alt="">
            </div>
            <br>
            <p class="description"> {{ i.product_name }} </p>
        </div>
    </a>

{% endfor %}
</div>




















{% endblock %}

