{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Krishna Electronics {{product_cat}} {% endblock %}
{% block body %}

<!--product_cat-->
<!--temp-->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="javascript:history.go(-1);" class="product_modal_close" id="viewall_back">  &#129068 Back</a>

<p style="font-size: 40px"> {{temp}} </p>


{% for i in product_cat %}
<p style="font-size: 20px"> {{i.product_name}} </p>
{% endfor %}






{% endblock %}

